body {
    margin: 0;
    display: flex;
    align-items: flex-start;
    background-image: url("assets/stars.webp");
    background-size: 100vw;
    height: 100vh;
}

.middle-section {
    height: 100vh;
    width: 50vw;
    padding-top: 15px;
    color: #eedb00;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-section,
.right-section{
    height: 100vh;
    width: 25vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    font-size: 25px;
  }

  .left-section{
    color : #2FF924;
    border-right: 6px solid #2FF924;
    background-image: url("assets/68b1713c9265e6cae14401b7038670d3.jpg");
    background-repeat: no-repeat;
    background-size: 35vw 100vh;
    background-position: center;
  }

  .right-section{
    color: #EB212E;
    border-left: 6px solid #EB212E;
    background-image: url("assets/ae6a3ef749110ad2b0bdab2b8e391019.jpg");
    background-repeat: no-repeat;
    background-size: 35vw 100vh;
    background-position: center;
  }

.game-board{
    margin-top: 100px;
    display: inline-grid;
    grid-template-columns: 75px 75px 75px;
    grid-template-rows: 75px 75px 75px;
}

.grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.grid-item:nth-child(1),
.grid-item:nth-child(2),
.grid-item:nth-child(3),
.grid-item:nth-child(4),
.grid-item:nth-child(5),
.grid-item:nth-child(6){
    border-bottom: 6px solid white;
}

.grid-item:nth-child(1),
.grid-item:nth-child(2),
.grid-item:nth-child(4),
.grid-item:nth-child(5),
.grid-item:nth-child(7),
.grid-item:nth-child(8){
    border-right: 6px solid white;
}

.player-one-wins,
.player-two-wins{
    font-size: 30px;
    margin-left: 40px;
}